@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #035a8f;;
}

.container {
  height: 600px;
  width: 500px;
  background-color: white;
  box-shadow: 10px 10px 30px rgb(128, 128, 128);
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 30px rgb(188, 228, 254);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login,.signup {
    font-size: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right bottom,rgb(42, 52, 183), rgb(109, 220, 245));
    position: absolute;
    top: 20px;
    left: 100px;
    transition: all 0.5s ease-in-out;
}

.moveslider {
  left: 250px;
}

.form-section {
  height: 500px;
  width: 1000px;
  padding: 20px 0;
  display: flex;
  position: relative;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.form-section-move {
    left: -500px;
}

.login-box ,
.signup-box{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
}

.login-box {
    gap: 50px;
}

.signup-box {
    gap: 30px;
}

@media screen and (max-width: 650px) {
    .container {
        height: 600px;
        width: 300px;
    }

    .title {
        font-size: 15px;
    }

    .btn {
        height: 50px;
        width: 200px;
        margin: 20px auto;
    }

    .login,
    .signup {
        font-size: 19px;
    }

    .slider {
        height: 50px;
        width: 100px;
        left: 50px;
    }

    .moveslider {
        left: 150px;
    }

    .form-section {
        height: 500px;
        width: 600px;
    }

    .form-section-move {
        left: -300px;
    }

    .frm .column {
      flex-wrap: wrap;
    }
    .frm :where(.gender-option, .gender) {
      row-gap: 15px;
    }

}
form {
  padding: 25px;
  background: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

form h2 {
  font-size: 27px;
  text-align: center;
  margin: 0px 0 30px;
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}

form input {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus {
  border-color: #9a9a9a;
}

form input.error{
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

form .password i {
  position: absolute;
  right: 0px;
  height: 45px;
  top: 28px;
  font-size: 13px;
  line-height: 45px;
  width: 45px;
  cursor: pointer;
  color: #939393;
  text-align: center;
}


.submit-btn input,.frm button {
  color: white;
  border: none;
  height: 55px;
  width: 100%;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background:rgb(130, 106, 251);
  transition: 0.2s ease;
}
.submit-btn input:hover,.frm button:hover {
  background: rgb(88, 56, 250);
}



.signup-box {
  position: relative;
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow:scroll
}
.signup-box header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.signup-box .frm {
  margin-top: 500px;
}
.frm .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.frm :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color:black;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.frm .column {
  display: flex;
  column-gap: 15px;
}
.frm .gender-box {
  margin-top: 20px;
}
.gender-box p {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.gender-option {
  display: flex; 
  gap: 15px; 
  align-items: center; 
}
.gender {
  display: flex; 
  align-items: center; 
  gap: 10px; 
}
.gender input {
  accent-color: rgb(130, 106, 251);

  cursor: pointer; 
  width: 100%;
  height:1rem;
}
.frm :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
  font-size: 1rem;

}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #1a1919;
  font-size: 1rem;
}

